<ul class="masonry">
  {% for category in categories -%}
  <li>
    <span>{{category}}</span>
    <ul>
      {%- for page in collections[category | lowercase] %}
      <li>
        <a href="{{page.url}}">
          {{ page.data.title }}
        </a>
      </li>
      {%- endfor %}
    </ul>
  </li>
  {%- endfor %}
</ul>
