<!DOCTYPE html>
<html lang="{{ metadata.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ metadata.title }}</title>
  <link rel="icon" type="image/png" href="{{ metadata.favicon }}">
  <link rel="stylesheet" href="/styles/content.css">
  <link rel="stylesheet" href="/styles/fonts.css">
  <link rel="stylesheet" href="/styles/extras.css">
  <link rel="stylesheet" href="/styles/code-highlight.css">
</head>
<body>
  <main class="medium-width">

    {% include "nav.njk" %}

    <header>
      <div class="tags">
        {%- for tag in tags -%}
          <span><a href="/tag/{{ tag }}">{{ tag }}</a></span>
        {% endfor -%}
      </div>
    </header>

    <hr/>

    <article>
      {{ content | safe }}
    </article>

    <hr/>

    <footer>
      <div>
        {%- if author | length %}
          <span>
            Rédigé par {{ author }}
          </span>
        {%- endif %}
        <a class="go-to-github" href="https://github.com/ludchieng/aledsheet">
          @ludchieng/aledsheet
        </a>
      </div>
      {% include "nav.njk" %}
    </footer>

  </main>
</body>
</html>
