<!DOCTYPE html>
<html lang="{{ metadata.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ metadata.title }}</title>
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="/styles/content.css">
  <link rel="stylesheet" href="/styles/fonts.css">
  <link rel="stylesheet" href="/styles/extras.css">
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body id="index">
  <main class="large-width">
  
    <header>
      <h1>Aledsheet</h1>
    </header>

    <hr/>

    <section>
      <p>Bienvenue dans mon palais mental 🏰</p>
      <p>
        Bien le bonjour ! Ici se trouvent des cheatsheets personnelles sur
        pleins de sujets 😎
      </p>
      <p>
        Je ne garantie pas à 100% l'exactitude des informations données ici.
        Aussi, je donne souvent mon opinion entre deux éléments factuels. Je
        compte sur vous pour distinguer les faits de l'interprétation
        personnelle que j'en fait.
      </p>
    </section>

    <h2>Catégories</h2>

    {% include "categories.njk" %}

    <h2>Mots-clés</h2>

    {% include "tags.njk" %}

    <hr/>

    <footer>
      <span>Ludwig Chieng</span>
      <a href="https://github.com/ludchieng/aledsheet">
        @ludchieng/aledsheet
      </a>
    </footer>

  </main>
</body>
</html>
