---
layout: sheet.njk

pagination:
  data: collections.pageTags
  size: 1
permalink: 'tag/{{ pagination.items[0] }}/index.html'
---

<h1>{{ pagination.items[0] | capitalize }}</h1>

<ul class="masonry">
  {%- for page in collections[pagination.items[0] | slug] %}
  <li>
    <a href="{{page.url}}">
      {{ page.data.title }}
    </a>
  </li>
  {%- endfor %}
</ul>
