body {
  margin: 0 1.2rem;
  line-height: 1.5;
  background-color: #1a202c;
  color: #cbd5e0;
  font-family: sans-serif;
}

header {
  font-size: 0.95rem;
}

main {
  display: block;
  margin: 0 auto;
}

footer {
  margin-top: 1rem;
  margin-bottom: 10rem;
}

footer > div {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
}
