@import url('content-blocks.css');
@import url('content-table.css');
@import url('content-katex.css');
@import url('content-toc.css');
@import url('nav.css');
@import url('utils.css');

p {
  margin: 0 auto 1rem auto;
}

b, strong,
h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

h2 { margin: 2rem auto 0.7rem auto; }
h3 { margin: 1.5rem auto 0.4rem auto; }
h4 { margin: 1.2rem auto 0.3rem auto; }
h5 { margin: 1rem auto 0.2rem auto; }

a {
  color: #ed64a6;
  text-decoration: none;
  border-bottom: dotted 1px #ed64a6;
}

hr {
  border: none;
  height: 2px;
  background-color: #404f6b;
}

ul, ol {
  padding-left: 1rem;
}

p + ul, p + ol {
  margin-top: -0.5rem;
}

ul ul {
  list-style-type: '– ';
}

li {
  margin-bottom: 0.3rem;
}

code {
  background-color: #282a36;
  border-radius: 0.25em;
  padding: 0 0.2em;
  font-family: monospace;
  font-size: 1rem;
}

pre {
  background-color: #282a36;
  padding: 0.5rem 1rem;
  border-radius: 0.25em;
  overflow-x: auto;
}

pre code {
  padding: 0;
  font-family: monospace;
  font-size: 0.9rem;
}

.tags {
  margin-bottom: 0.5rem;
}

.tags span {
  display: inline-block;
  padding: 0.1rem 0.35rem 0.2rem 0.35rem;
  margin: 0.3rem 0.1rem 0 0;
  font-size: 0.9rem;
  background-color: #282a36;
  border-radius: 0.25rem;
}

.tags span a {
  color: inherit;
  border-color: inherit;
}

.go-to-github {
  margin-left: auto;
}

details {
  margin: 0.5rem 0.5rem 1rem 0;
}

details > div {
  margin-left:  0.24rem;
  padding: 0.35rem 0 0 0.91rem;
  border-left: 1px dotted #cbd5e0;
}

summary {
  cursor: pointer;
  user-select: none;
}

summary > span {
  color: #aaa;
  border-bottom: dotted 1px #aaa;
}
