@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url("fonts/Inter-latin-Regular.woff2");
}

@font-face {
  font-family: 'Inter';
  font-style:  bold;
  font-weight: 700;
  src: url("fonts/Inter-latin-Bold.woff2");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  src: url("fonts/Inter-latin-Italic.woff2");
}

@font-face {
  font-family: 'Fira Mono';
  font-style:  normal;
  font-weight: 400;
  font-size: large;
  src: url("fonts/Fira-Mono-latin-Regular.woff2");
}

body {
  font-family: Inter;
}

code {
  font-family: 'Fira Mono';
  font-size: 0.8em;
}
