.masonry {
  -webkit-columns: 16rem 4;
  -moz-columns: 16rem 4;
  columns: 16rem 4;
  column-gap: 2rem;
  padding-left: 0;
  font-size: 0.95rem;
}

.masonry > * {
  display: inline-block;
  width: 100%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

.masonry ul {
  padding: 0;
}

.masonry li {
  list-style-type: none;
  margin-bottom: 0.65rem;
}

.masonry > li > span {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}
